body {
    background-color: #E7C9CA;
    color: #F2EEEE;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0;
    padding: 5px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #421532;
    border-radius: 10px;
}

.top-header {
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: #A97374;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px; 
	margin-top: 10px;
	text-align:center;
	text-decoration: none;
}

.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.site-logo {
    height: 50px; 
    width: auto; 
    display: block;
}


.top-header-links {
	text-align: center
    gap: 15px;
}

.top-header-links a {
    font-weight: bold;
	border-radius: 5px;
	padding: 20px;
    color: #1A2D28;
    font-size: 20px;
}

.top-header-links a:hover {
    color: white;
}

.sitenav {
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    text-align: center;
    padding: 3px;
    border-radius: 15px;
    background: #EECFD0;
}

.sitenav a {
    display: inline-block;
    font-weight: bold;
    color: #1A2D28;
    padding: 5px;
    border-right: solid white 2px;
}

.sitenav a:last-child {
    border-right: none;
}

.sitenav a:hover {
    color: pink;
    background: white;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
    max-width: 900px;
    margin: auto;
}

.gallery-item {
    width: 100%;
    max-width: 250px;
    text-align: center;
    background: #FFEFF2;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #5A3E4F;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

td, th {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
	background-color: #C88D8E;
}

td i.fa-heart {
    color: #481819;
}

td i.fa-money-bill {
    color: #0D3609;
}

/*my buttons*/
.top-button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #915C5D;
    text-decoration: underline;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.top-button:hover {
    background-color: #542F30;
}

.alt-button {
    width: fit-content;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 15px;
    color: #C19E9F;
    background-color: #712E48;
    text-align: end;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.alt-button:hover {
    background-color: #8A3031;
}


.index-button{
	width: fit-content;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 15px;
    color: #C19E9F;
    background-color: #712E48;
    text-align: end;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.index-button:hover {
    background-color: #8A3031;
}

/* style all links */
a {
    color: #ff1493; 
    font-weight: bold;
}

a:hover {
    color: #ff69b4; 
    text-decoration: underline; 
}

/*lists styling*/.ranks {
    background-color: #FFEFF2;
    padding: 20px;
    border-radius: 40px;
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
    text-align: center;
}

.ranks h2 {
    color: #D63384;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.list {
    max-width: flex;
    padding: 15px;
    background:#F3DEDE;
    border-radius:50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.list:hover {
    transform: scale(1.01);
}

.list h3 {
    color: #FF69B4;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.list ol li {
    font-size: 16px;
    color: #5A3E4F;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
