body {
    background-color: #E7C9CA;
    color: #F2EEEE;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0;
    padding: 5px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #421532;
    border-radius: 10px;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A97374;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px; 
	margin-top: 10px;
}

.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.site-logo {
    height: 50px; 
    width: auto; 
    display: block;
}


.top-header-links {
    display: flex;
    gap: 15px;
}

.top-header-links a {
    text-decoration: none;
    font-weight: bold;
    color: #1A2D28;
    font-size: 16px;
}

.top-header-links a:hover {
    color: white;
}

.sitenav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    background: #EECFD0;
}

.sitenav a {
    display: inline-block;
    font-weight: bold;
    color: #1A2D28;
    padding: 8px;
    border-right: solid white 4px;
}

.sitenav a:last-child {
    border-right: none;
}

.sitenav a:hover {
    color: pink;
    background: white;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 20px;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
}

.gallery-item {
    width: 300px;
    text-align: center;
}

.gallery-item p {
    margin: 0.25em 0;
    line-height: 135%;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

td, th {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
	background-color: #C88D8E;
}

td i.fa-heart {
    color: #481819;
}

td i.fa-money-bill {
    color: #0D3609;
}

/*return to header buttons*/
.top-button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #915C5D;
    text-decoration: underline;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.top-button:hover {
    background-color: #542F30;
}
